# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
MyDerbyDB/db.lck
MyDerbyDB/log/log.ctrl
MyDerbyDB/log/log1.dat
MyDerbyDB/log/logmirror.ctrl
MyDerbyDB/log/README_DO_NOT_TOUCH_FILES.txt
MyDerbyDB/README_DO_NOT_TOUCH_FILES.txt
MyDerbyDB/seg0/c10.dat
MyDerbyDB/seg0/c101.dat
MyDerbyDB/seg0/c111.dat
MyDerbyDB/seg0/c121.dat
MyDerbyDB/seg0/c130.dat
MyDerbyDB/seg0/c141.dat
MyDerbyDB/seg0/c150.dat
MyDerbyDB/seg0/c161.dat
MyDerbyDB/seg0/c171.dat
MyDerbyDB/seg0/c180.dat
MyDerbyDB/seg0/c191.dat
MyDerbyDB/seg0/c1a1.dat
MyDerbyDB/seg0/c1b1.dat
MyDerbyDB/seg0/c1c0.dat
MyDerbyDB/seg0/c1d1.dat
MyDerbyDB/seg0/c1e0.dat
MyDerbyDB/seg0/c1f1.dat
MyDerbyDB/seg0/c20.dat
MyDerbyDB/seg0/c200.dat
MyDerbyDB/seg0/c211.dat
MyDerbyDB/seg0/c221.dat
MyDerbyDB/seg0/c230.dat
MyDerbyDB/seg0/c241.dat
MyDerbyDB/seg0/c251.dat
MyDerbyDB/seg0/c260.dat
MyDerbyDB/seg0/c271.dat
MyDerbyDB/seg0/c281.dat
MyDerbyDB/seg0/c290.dat
MyDerbyDB/seg0/c2a1.dat
MyDerbyDB/seg0/c2b1.dat
MyDerbyDB/seg0/c2c1.dat
MyDerbyDB/seg0/c2d0.dat
MyDerbyDB/seg0/c2e1.dat
MyDerbyDB/seg0/c2f0.dat
MyDerbyDB/seg0/c300.dat
MyDerbyDB/seg0/c31.dat
MyDerbyDB/seg0/c311.dat
MyDerbyDB/seg0/c321.dat
MyDerbyDB/seg0/c331.dat
MyDerbyDB/seg0/c340.dat
MyDerbyDB/seg0/c351.dat
MyDerbyDB/seg0/c361.dat
MyDerbyDB/seg0/c371.dat
MyDerbyDB/seg0/c380.dat
MyDerbyDB/seg0/c391.dat
MyDerbyDB/seg0/c3a1.dat
MyDerbyDB/seg0/c3b1.dat
MyDerbyDB/seg0/c3c0.dat
MyDerbyDB/seg0/c3d1.dat
MyDerbyDB/seg0/c3e1.dat
MyDerbyDB/seg0/c3f1.dat
MyDerbyDB/seg0/c400.dat
MyDerbyDB/seg0/c41.dat
MyDerbyDB/seg0/c411.dat
MyDerbyDB/seg0/c421.dat
MyDerbyDB/seg0/c430.dat
MyDerbyDB/seg0/c441.dat
MyDerbyDB/seg0/c451.dat
MyDerbyDB/seg0/c461.dat
MyDerbyDB/seg0/c470.dat
MyDerbyDB/seg0/c481.dat
MyDerbyDB/seg0/c490.dat
MyDerbyDB/seg0/c4a1.dat
MyDerbyDB/seg0/c4b0.dat
MyDerbyDB/seg0/c4c1.dat
MyDerbyDB/seg0/c4d1.dat
MyDerbyDB/seg0/c4e0.dat
MyDerbyDB/seg0/c4f1.dat
MyDerbyDB/seg0/c500.dat
MyDerbyDB/seg0/c51.dat
MyDerbyDB/seg0/c60.dat
MyDerbyDB/seg0/c71.dat
MyDerbyDB/seg0/c81.dat
MyDerbyDB/seg0/c90.dat
MyDerbyDB/seg0/ca1.dat
MyDerbyDB/seg0/cb1.dat
MyDerbyDB/seg0/cc0.dat
MyDerbyDB/seg0/cd1.dat
MyDerbyDB/seg0/ce1.dat
MyDerbyDB/seg0/cf0.dat
MyDerbyDB/seg0/README_DO_NOT_TOUCH_FILES.txt
MyDerbyDB/service.properties
